@page "/"

<PageTitle>Home — The Well Admin</PageTitle>

<h1>Welcome Admin!</h1>

<p>Here is the Well portal, you can:</p>
<ul>
    <li>Create new user accounts</li>
    <li>Send password resets to users</li>
    <li>Choose the course starting date</li>
    <li>See student logs <em>(future add-on)</em></li>
    <li>See student statistics <em>(future add-on)</em></li>
</ul>
<p>To upload course material, visit <strong>WordPress</strong>.</p>
