<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TheWell.Admin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="course-config">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Course Config
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="audit">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Audit Log
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="student-stats">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span> Student Statistics
            </NavLink>
        </div>
    </nav>
</div>

